<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Notes</title>
</head>
<body>
    <h1>Notes</h1>
    <form action="/notes" method="GET">
        <label for="searchInput">Search:</label>
        <input type="text" name="searchItem" id="searchInput">
        <button>Search</button>
    </form>

    <a href="/createnote/">Add new </a>

    <ul>
        <% notes.forEach(note => {%>
        <li> 
           <h1><%= note.title %></h1>
           <p><%= note.content.substring(0,20) %>...</p>
           <p><%=  note.timestamp %></p>
           <a href="/notes/<%= note.id %>">View more</a>
        </li>
        <% }); %>
    </ul>
</body>
</html>