body{
    background-color: rgb(226, 226, 191);

}
ul{
    list-style: none;
    padding: 2 4 ;
    margin-left: 2;
    background-color: rgb(179, 179, 84);
    border-radius: 10px;
}
li{
    background-color: rgb(91, 91, 25);
    margin: 0.2rem;
    border-radius: 10px;
    padding-left: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
   padding-bottom: 1rem;


}
li a{
    color: white;
    font-style: italic;
}
div{
    padding: 2 4 ;
    margin-left: 2;
    background-color: rgb(179, 179, 84);
    border-radius: 10px;
}
form{
display: flex;
flex-direction: column;
}